:root {
    /* Fonts */
    --font-body: "Roboto", sans-serif;
    --font-headline: "Oswald", sans-serif;

    /* Colors */
    --light-blue: #1EA0FF;
    --dark-blue: #3A34E5;
    --light-red: #FF5C5C;
    --dark-red: #C80042;
    --light-green: #00C853;
    --dark-green: #008A35;

    /* Grays */
    --gray-100: #f5f5f5;
    --gray-200: #e0e0e0;
    --gray-300: #cccccc;
    --gray-500: #999999;
    --gray-700: #666666;
    --gray-900: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--gray-200);
    margin: 1rem;
}

header {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--gray-500);
    border-bottom: none;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: var(--gray-100);
    padding: 1rem;
    margin: 0 auto;
}

header h1 {
    font-family: var(--font-headline);
    color: var(--gray-900);
    margin-right: 1rem;
}

.primary-btns {
    display: flex;
    flex: 1;
    gap: 0.5rem;
    width: 100%;
    max-width: 16em;
    justify-content: flex-end;
    font-family: var(--font-headline);
    font-size: 1.75rem;
    font-weight: bold;
    list-style: none;
    padding: 0;
    margin: 0;
}

.primary-btns li {
    flex: 1;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
}

#news-btn a {
    background: linear-gradient(to bottom, var(--dark-blue), var(--light-blue));
}

#stocks-btn a {
    background: linear-gradient(to bottom, var(--dark-red), var(--light-red));
}

.primary-btns a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
}

main {
    max-width: 1000px;
    background-color: var(--gray-300);
    border-left: 1px solid var(--gray-500);
    border-right: 1px solid var(--gray-500);
    margin: 0 auto;
}

#company-buttons {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    background-color: var(--gray-900);
    padding: 0 1rem;
}

.company-btn {
    flex: 1;
    font-family: var(--font-headline);
    font-size: 1.25rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--gray-300);
    color: var(--gray-900);
    padding: 0.25rem;
    margin: 0.5rem 0;
    cursor: pointer;
}

#company-buttons .open {
    display: none;
}

#company-buttons .active {
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}

#welcome-msg {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    font-family: var(--font-body);
    text-align: center;
    color: var(--gray-900);
}

#welcome-msg h2 {
    font-family: var(--font-headline);
}

.news-articles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
}

.news-article {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background: var(--gray-100);
    cursor: pointer;
}

.article-image {
    width: 100%;
    height: 160px;
    object-fit: cover;
    flex-shrink: 0;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

}

.article-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-900);
    margin: 1rem;
}

.article-title {
    font-family: var(--font-headline);
}

.article-desc {
    font-family: var(--font-body);
}

.article-detail {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    font-family: var(--font-body);
    border-radius: 0.5rem;
    background-color: var(--gray-100);
    color: var(--gray-900);
}

.article-detail img {
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.detail-content {
    padding: 1rem;
}

.detail-content h2 {
    font-family: var(--font-headline);
}

.detail-content p {
    margin-bottom: 0.5rem;
}

.detail-content p:last-of-type {
    margin-bottom: 0;
}

.stock-container {
    max-width: 600px;
    font-family: var(--font-body);
    color: var(--gray-900);
    padding: 1rem;
    margin: 0 auto;
}

.stock-card {
    background-color: var(--gray-100);
    border: 1px solid var(--gray-500);
    border-radius: 0.5rem;
    padding: 1rem;
}

.stock-header {
    font-family: var(--font-headline);
    margin-bottom: 0.5rem;
}

.stock-header h2 {
    font-size: 1.75rem;
}

.stock-price {
    font-family: var(--font-headline);
    margin-bottom: 0.5rem;
}

.stock-price h3 {
    font-size: 1.5rem;
}

.stock-price p.positive {
    color: var(--dark-green);
}

.stock-price p.negative {
    color: var(--dark-red);
}

.stock-details {
    margin-bottom: 0.5rem;
}

.stock-details div,
.fifty-two-week div {
    display: flex;
    justify-content: space-between;
}

li.message,
p.message {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    font-family: var(--font-body);
    color: var(--gray-900);
}

footer {
    max-width: 1000px;
    width: 100%;
    text-align: center;
    font-family: var(--font-body);
    border: 1px solid var(--gray-500);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: white;
    background-color: var(--gray-900);
    padding: 1rem;
    margin: 0 auto;
}

/* Media Queries */

@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header h1 {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .primary-btns {
        max-width: unset;
        margin-top: 1rem;
    }

    #company-buttons .company-btn {
        display: none;
    }

    #company-buttons .open {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        font-family: var(--font-headline);
        font-size: 1.25rem;
        border: none;
        border-radius: 0.5rem;
        background-color: var(--gray-300);
        color: var(--gray-900);
        padding: 0.25rem;
        margin: 0.5rem 0;
        cursor: pointer;
    }

    #company-buttons .open::before {
        content: "Menu";
    }

    #company-buttons .active {
        display: flex;
        justify-content: center;
    }

    #company-buttons.dropdown-container {
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.5rem;
    }

    #company-buttons.dropdown-container .company-btn {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        font-family: var(--font-headline);
        font-size: 1.25rem;
        border: none;
        border-radius: 0.5rem;
        background-color: var(--gray-300);
        color: var(--gray-900);
        padding: 0.25rem;
        margin: 0;
        cursor: pointer;
    }

    #company-buttons.dropdown-container .open {
        margin: 0;
    }

    #company-buttons.dropdown-container .open::before {
        content: "Close";
    }
}

@media (max-width: 400px) {
    .news-articles {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .article-image,
    .article-detail img {
        height: 140px;
    }
}